*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.mid-container{
  max-width: 1024px;
  width: 90%;
  margin: auto;
  text-align: center;
  margin: 87px auto 55px;
  color: #3d3d3d
}

.mid-container p{
  margin: 10px 0;
}

.navbar-top{
  border: 1px solid #d5d5d5;
}

.margin-end{
  margin-right: 10rem!important;
}

.link{
  color: #3d3d3d;
  text-decoration: none;
  margin: auto 10px;
  transition: 0.3s;
  font-weight: bold;
  letter-spacing: 2px;
}

.link:hover{
  color: #3d3d3d;
  opacity: 0.6;
}

.main-link{
  font-size: 24px;
}

.link span{
  color: #6592c9
}

main{
  background-image: url('/public/assets/images/img-fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title{
  color: #fff;
  background-color: #0a9077b3;
  border: 1px solid;
  max-width: 500px;
  width: 80%;
  padding: 30px 0;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-title h1{
  font-size: 55px;
  font-weight: bold;
}

.banner-title p{
  font-size: 28px;
  padding-top: 20px;
}

/* .container{
  max-width: 1024px;
  width: 100%;
} */

.quartos{
  display: flex;
  color: #3d3d3d;
}

.quartos img{
  max-width: 100%;
  width: 90%;
}

.quarto-card{
  margin-right: 30px;
  padding-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.ultimo-card{
  margin-right: 0px;
}

.titulo-quartos{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 2px solid #00836a;
  height: 60px;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #3d3d3d;
  transition: 0.3s;
  font-weight: bold;
}

.titulo-quartos:hover{
  color: #3d3d3d;
  opacity: 0.7;
}

.descricao{
  max-width: 1024px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  color: #3d3d3d;
}

.descricao img{
  width: 100px;
  height: 113px;
  margin-left:10px;
}

.descricao-box{
  display: flex;
  width: 45%;
  margin: 0 10px;
  align-items: center;
  justify-content: space-between;
}

.descricao-box h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.descricao-box p{
  line-height: 19px;
}

.footer{
  background-color: #49997D;
  color: #fff;
}

.footer a{
  color: #fff;
}

.contato{
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3b7863;
}

.contato-text{
  font-size: 22px;
}

.contato-all-infos{
  display: flex;
  padding: 20px;
}

.contato-info{
  display: flex;
  justify-content: center;    
  align-items: center;
  width: 240px;
  margin-left: 15px;
  transition: 0.3s;
}

.contato-info a{
  text-decoration: none;
}

.contato-info a:hover{
  color: #fff;
  opacity: 0.7;
}

.contato p{
  margin-right: 10px;
}

.contato img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.copyright{
  text-align: center;
  padding: 5px;
  font-weight: 600;
  width: 100%;
}

/* QUARTO */

.main-quarto{
  background-image: url('/public/assets/images/img-fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quartos-solteiro{
  display: flex;
  justify-content: center;
}

.quartos-solteiro img{
  max-width: 100%;
  width: 309px;
  margin-right: 5px;
  height: 230px;
}

.lista-div{
  border-bottom: 2px solid #3d3d3d;
}

.lista-titulo{
  display: flex;
  justify-content: center;
  margin: 60px auto 10px;
  height: 40px;
}

h3{
  font-size: 18px;
}

.lista{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.lista li{
  line-height: 35px;
  margin: auto 20px;
}

.lista-div:last-child{
  margin-bottom: 80px;
}

.container-lista{
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

.footer-mobile{
  display: none;
}

/* NAO EXISTE PAGE*/

.nao-existe-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-quarto{
  height: 30vh;
}

/* MEDIA QUERY */

@media (max-width: 900px){
  main{
    max-width: 100%;
    width: 100%;
    height: 30vh;
  }
  
  .banner-title{
    display: none;
  }

  .quartos{
    flex-wrap: wrap;
    justify-content: center;
  }

  .quarto-img-mobile{
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  .mid-section{
    margin-top: 50px;
  }

  iframe{
    max-width: 100%;
    width: 100%;
  }

  .descricao-box{
    max-width: 90%;
    width: 100%;
  }

  footer, .contato, .copyright{
    display: none;
  }

  .footer-mobile{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    background-color: #49997D;
    color: #fff;
    padding: 15px;
  }

  .footer-mobile a{
    color: #e0e0e0;
    text-decoration: none;
  }

  .border-footer-mobile{
    max-width: 80%;
    width: 100%;
    border-top: 1px solid #3b7863;
  }

  .copyright-mobile{
    margin-top: 20px;
  }

  .margin-end{
    margin-right: 0!important
  }

  /* QUARTOS */

  .main-quarto{
    width: 100%;
  }

  .quartos-solteiro{
    display: flex;
    flex-wrap: wrap;
  }

  .quartos-solteiro-mobile{
    margin-bottom: 20px;
  }

  .quartos-solteiro img{
    max-width: 100%;
    width: 350px;
  }

  .lista{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .lista ul{
    list-style: circle;
  }

  .lista-div{
    border: 1px solid #fff;
  }
}